
/* page jeu mobile*/
body{
  background: url(photo/14129.gif) no-repeat;
  background-size: 1200px;
  
  
}
header{
   
  text-align: center;
   color: #eee;
   font-size: 18px;
 }

#canvas {

        cursor: url(./photo/Seringue3.png), auto;
         border: none;
         border-top: 2px rgba(238, 241, 14, 0.561) solid;
         border-left: 2px  rgba(238, 241, 14, 0.561) solid;
         border-right: 2px rgba(238, 241, 14, 0.561) solid;
         border-bottom: 2px rgba(238, 241, 14, 0.561) solid;
      
         background:url(photo/red.gif) 0 0 no-repeat;
         box-shadow: 0 10px 15px black;
         position: relative;
         margin: 0 auto;
         overflow: hidden;
         height: 400px;
         width: auto;
         margin-right:6px ;
         margin-top: 6px;
         margin-left: 6px;
}
#return{
  text-decoration:none ;
  color: #eee;
}
#return-home{
  margin-top: 24px;
  margin-left: 100px;
  background: rgba(252, 49, 49, 0.699);
  border-radius: 5px;
  color: #eee;
  border: 1px rgba(128, 128, 128, 0.404) solid;
  box-shadow: 1px 1px 1px #333;
  transition: 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


.virus {
    position: absolute;
    transform: translate(-50%, -50%);
    height: var(--y);
    width: var(--x);
    --scaler: 1;
    animation: virusAnim 14s forwards;
}
    
.virus:hover {
    --scaler: 1.03;
}
.virus:active {
    --scaler: 0.97;
}
@keyframes virusAnim {
    from {
            transform: translate(0%, 0%) scale(var(--scaler));
     }
    to {
          transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
    }
}

#start {
          
         margin: 2rem 2rem 0;
         margin-left:50px;
         padding: 0.5rem 0.5rem;
         background: rgba(252, 49, 49, 0.699);
         border-radius: 5px;
         color: #eee;
         border: 1px rgba(128, 128, 128, 0.404) solid;
         box-shadow: 1px 1px 1px #333;
         transition: 0.3s ease;
         cursor: pointer;
         text-transform: uppercase;
         outline: none;
         animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}         
#start:active {
         animation: shadow-back 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;   
}
        
@keyframes shadow-pop-br {
 0% {
     box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
    transform: translateX(0) translateY(0);
    }
    100% {
     box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
    transform: translateX(-8px) translateY(-8px);
     }
  }
    
@keyframes shadow-back {     0% {
            box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;        transform: translateX(-8px) translateY(-8px);
     }
          100% {
         box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
        transform: translateX(0) translateY(0);
      }
    }
        
    #start:hover {
      box-shadow: 1px 1px 1px rgb(238, 8, 8), inset 0 0 0 40px #ff0000c5;
          color: black;
          background: rgba(250, 136, 43, 0.966);
          }
   
    
       .scoreboard {
         color: #eee;
         padding-bottom: 1rem;
       }
    
         .kills {
           text-align: center;
           font-size: 16px;
           color:#eee;
         }
    
      #score {
       
      font-weight: bold;
      font-size: 16px;
      color: #ff0000e1;
     }
       
    .confinement {
        text-align: center;
         font-size: 16px;
         color: #eee;
    }
    
         #days {
           color: #ff0000e1;
         }
         
         
#endScreen {
    position: absolute;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.452);
    text-transform: uppercase;
    cursor: url(photo/seringue.png);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
}
          
.gameOver {
  text-align: center;
     margin: 10rem auto 0;
     width: 100%;
     height: 50%;
    line-height: 50px;
    font-size: 30px;
    background: rgba(235, 11, 11, 0.7);
    color : rgb(197, 197, 197);
    box-shadow: 0 10px 15px black;
}
.youWin {
  text-align: center;
  margin-top: 10em;
   margin: 7rem auto 0;
   width: 100%;
   line-height: 50px;
   color: rgb(60, 0, 255);
   background: rgba(255, 166, 0, 0.651);
   box-shadow: 0 10px 15px black;
   font-size: 30px;
   padding: 1rem;
   text-shadow: 4px 2px 1px rgba(211, 4, 4, 0.808);
}
          
        span {
        color: rgb(233, 0, 0);
          font-weight: bold;
        
         text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.808);
               }
audio{
  display: none;
}
               
/* ecran, page de jeu*/ 
        
@media (min-width: 992px) {
    
  header{
   
   text-align: center;
    color: #eee;
    font-size: 30px;
  }
  body{
    background: url(photo/14129.gif) no-repeat 0% 0%/cover;
    /*filter: grayscale(90%) opacity(0.2);*/
  } 
  #start {
    margin-top: 50px;     
    margin: 2rem 2rem 0;
    margin-left:43%;
    padding: 0.5rem 0.5rem;
    background: rgba(252, 49, 49, 0.699);
    border-radius: 5px;
    color: #eee;
    border: 1px rgba(128, 128, 128, 0.404) solid;
    box-shadow: 1px 1px 1px #333;
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}         
    
  #canvas {
      cursor: url(./photo/Seringue3.png), auto;
      border: none;
      border-top: 2px rgba(238, 241, 14, 0.561) solid;
      border-left: 2px  rgba(238, 241, 14, 0.561) solid;
      border-right: 2px rgba(238, 241, 14, 0.561) solid;
      border-bottom: 2px rgba(238, 241, 14, 0.561) solid;
      background:url(photo/red.gif) 0 0 no-repeat;
      box-shadow: 0 10px 15px black;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      height: 405px;
      width: 720px;
      margin-right:px ;
      margin-top: 30px;
      margin-left: 580px;
}
.kills {
  text-align: center;
  font-size: 25px;
  color:#eee;
}

#score {

font-weight: bold;
font-size: 25px;
color: #ff0000e1;
}

.confinement {
text-align: center;
font-size: 25px;
color: #eee;
}

#days {
  color: #ff0000e1;
}
#return-home{
  margin-top: 24px;
  margin-left: 46%;
  background: rgba(252, 49, 49, 0.699);
  border-radius: 5px;
  color: #eee;
  border: 1px rgba(128, 128, 128, 0.404) solid;
  box-shadow: 1px 1px 1px #333;
  transition: 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.gameOver {
    text-align: center;
    margin: 10rem auto 0;
    width: 70%;
    line-height: 9rem;
    font-size: 5rem;
    background:  rgba(235, 11, 11, 0.7);
    color : rgb(197, 197, 197);
    box-shadow: 0 10px 15px black;
}
.youWin {
  text-align: center;
  margin-top: 10em;
   margin: 10rem auto 0;
   width: 70%;
   line-height: 9rem;
   color: rgb(60, 0, 255);
   background: rgba(255, 166, 0, 0.651);
   box-shadow: 0 10px 15px black;
   font-size: 3.5rem;
   padding: 1rem;
   text-shadow: 4px 2px 1px rgba(211, 4, 4, 0.808);
}

}