/* page d'accueil mobile*/

.home{
    margin-top: 25%;
    margin-left: 47px;
    color: #eee;
  }
  #game{
    margin-top: 80%;
    margin-left: 128px;
    background: rgba(252, 49, 49, 0.699);
    border-radius: 2px;
    color: #eee;
    border: 0.5px rgba(128, 128, 128, 0.404) solid;
    box-shadow: 0.5px #333;
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  #return{
      text-decoration: none;
      color: #eee;
  }
  @keyframes shadow-pop-br {
    0% {
        box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
       transform: translateX(0) translateY(0);
       }
       100% {
        box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
       transform: translateX(-8px) translateY(-8px);
        }
     }
  
  header{
      font-size: 18px;
      text-align: center;
      text-align: center;
      color: #eee;
  }


body{
    background: url(photo/14129.gif) no-repeat;
    background-size: 1200px;
    
    /*filter: grayscale(90%) opacity(0.2);*/
  }
  /* page d'ecran*/
  @media (min-width: 992px){
    body{
        background: url(photo/14129.gif) no-repeat 0% 0%/cover;
        /*filter: grayscale(90%) opacity(0.2);*/
      } 
      header{
        font-size: 30px;
        text-align: center;
        text-align: center;
        color: #eee;
    }
      #game{
        width: 20rem;
        margin-top: 20%;
        margin-left: 42%;
        background: rgba(252, 49, 49, 0.699);
        border-radius: 2px;
        color: #eee;
        border: 0.5px rgba(128, 128, 128, 0.404) solid;
        box-shadow: 0.5px #333;
        transition: 0.3s ease;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
      }

      #return{
        text-decoration: none;
        color: #eee;
    }
    @keyframes shadow-pop-br {
      0% {
          box-shadow: 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb, 0 0 #bbb;
         transform: translateX(0) translateY(0);
         }
         100% {
          box-shadow: 1px 1px #bbb, 2px 2px #bbb, 3px 3px #bbb, 4px 4px #bbb, 5px 5px #bbb, 6px 6px #bbb, 7px 7px #bbb, 8px 8px #bbb;
         transform: translateX(-8px) translateY(-8px);
          }
       }

  }